In [ ]:
import numpy as np
import pandas as pd

# Tasks Part 2 - Intro to Pandas

# 1. Load data

We are using house sale price dataset that can be obtained from Kaggle: https://www.kaggle.com/c/house-prices-advanced-regression-techniques/overview/description

With 79 explanatory variables describing (almost) every aspect of residential homes in Ames, Iowa, the competition challenges you to predict the final price of each home.

## Tasks:
1.1. Load `train.csv` file using `pd.read_csv()` function.

1.2. Print top 10 and last 10 observations in the table using `.head()` and `.tail()`

1.3. Print all the data columns names using method `.columns`

1.4. Print number of rows and columns using method `.shape`. Note: You can use `.shape[0]` to get the number of rows for future tasks.

1.5. You may also want to increase maximal displayed pandas columns: set `pd.options.display.max_columns` to 30. Do this at the very beginning of the notebook, so it will always apply to all tasks.

In [ ]:
# Task 1.1
df_train = pd.read_csv('https://gist.githubusercontent.com/lukee910/c233bf0ea6899a91d50ce804133b6aa1/raw/82b8c6e9aa57309aa1ce2a1302c4c3fc72e11ae3/train.csv')

In [ ]:
# Task 1.2
print(df_train.head(10))
print(df_train.tail(10))

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1
5   6          50       RL         85.0    14115   Pave   NaN      IR1
6   7          20       RL         75.0    10084   Pave   NaN      Reg
7   8          60       RL          NaN    10382   Pave   NaN      IR1
8   9          50       RM         51.0     6120   Pave   NaN      Reg
9  10         190       RL         50.0     7420   Pave   NaN      Reg

  LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
0         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
2         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
3         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
4         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
5         Lvl    AllPub  ...        0    NaN  MnPrv        Shed     700
6         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
7         Lvl    AllPub  ...        0    NaN    NaN        Shed     350
8         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
9         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

  MoSold YrSold  SaleType  SaleCondition  SalePrice
0      2   2008        WD         Normal     208500
1      5   2007        WD         Normal     181500
2      9   2008        WD         Normal     223500
3      2   2006        WD        Abnorml     140000
4     12   2008        WD         Normal     250000
5     10   2009        WD         Normal     143000
6      8   2007        WD         Normal     307000
7     11   2009        WD         Normal     200000
8      4   2008        WD        Abnorml     129900
9      1   2008        WD         Normal     118000

[10 rows x 81 columns]
        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
1450  1451          90       RL         60.0     9000   Pave   NaN      Reg
1451  1452          20       RL         78.0     9262   Pave   NaN      Reg
1452  1453         180       RM         35.0     3675   Pave   NaN      Reg
1453  1454          20       RL         90.0    17217   Pave   NaN      Reg
1454  1455          20       FV         62.0     7500   Pave  Pave      Reg
1455  1456          60       RL         62.0     7917   Pave   NaN      Reg
1456  1457          20       RL         85.0    13175   Pave   NaN      Reg
1457  1458          70       RL         66.0     9042   Pave   NaN      Reg
1458  1459          20       RL         68.0     9717   Pave   NaN      Reg
1459  1460          20       RL         75.0     9937   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
1450         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1451         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1452         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1453         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1454         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1455         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1456         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1457         Lvl    AllPub  ...        0    NaN  GdPrv        Shed    2500
1458         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1459         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
1450      9   2009        WD         Normal     136000
1451      5   2009       New        Partial     287090
1452      5   2006        WD         Normal     145000
1453      7   2006        WD        Abnorml      84500
1454     10   2009        WD         Normal     185000
1455      8   2007        WD         Normal     175000
1456      2   2010        WD         Normal     210000
1457      5   2010        WD         Normal     266500
1458      4   2010        WD         Normal     142125
1459      6   2008        WD         Normal     147500

[10 rows x 81 columns]

In [ ]:
# Task 1.3
print(df_train.columns)

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [ ]:
# Task 1.4
print(df_train.shape[0])
print(df_train.shape)

1460

In [ ]:
# Task 1.5
pd.options.display.max_columns = 30

# 2. Data exploration

## Tasks:
2.1. Use pandas `.describe()` to display basic statistic about the data.

2.2. Use methods `.min()`, `.max()`, `.mean()`, `.std()` to display specific statistics about the data. Hint: Make sure that you can actually see all values (e.g. use multiple cells, use `print()`).

2.3. Count number of unique values in every column `.nunique()`. What does this tells you about the features, which are most likely categorical and which are most likely numerical?

2.4. Use method `.count()` to count the number of non-NA cells in each column. Are there any missing values in the data?
Missing values can be imputed with a mean value, dummy value or based on some other logic depending on the feature using `.fillna()` method.

2.5. Use method `.dtypes` field to display data types in columns. What are the columns with dtype int64?

2.6. Use method `.value_counts()` to count number of unique values in a specific column.

In [40]:
# Task 2.1
df_train.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [18]:
# Task 2.2
print(df_train["MSSubClass"].min()) # Minimaler Wert
print(df_train["LotArea"].max()) # Maximaler Wert
print(df_train["OverallCond"].mean()) # Mittelwert
print(df_train["MasVnrArea"].std()) # Standardabweichung

20
215245
5.575342465753424
181.06620658721818

In [19]:
# Task 2.3
print(df_train.nunique()) # Kategorisierte-Daten haben eine kleinere Anzahl an Wiederholten Daten als Numerische-Daten. Numerische Daten = Preis Stückzahl / Kategorisierte-Daten = Import-Land Artikel-Sprache

Id               1460
MSSubClass         15
MSZoning            5
LotFrontage       110
LotArea          1073
                 ...
MoSold             12
YrSold              5
SaleType            9
SaleCondition       6
SalePrice         663
Length: 81, dtype: int64

In [23]:
# Task 2.4
print(df_train.count())
df_train.fillna(1) # Füllt Daten die na sind mit dem Wert 1

Id               1460
MSSubClass       1460
MSZoning         1460
LotFrontage      1201
LotArea          1460
                 ...
MoSold           1460
YrSold           1460
SaleType         1460
SaleCondition    1460
SalePrice        1460
Length: 81, dtype: int64

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,1,Reg,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,...,0,61,0,0,0,0,1,1,1,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,1,Reg,Lvl,AllPub,FR2,Gtl,Veenker,Feedr,Norm,...,298,0,0,0,0,0,1,1,1,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,1,IR1,Lvl,AllPub,Inside,Gtl,CollgCr,Norm,Norm,...,0,42,0,0,0,0,1,1,1,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,1,IR1,Lvl,AllPub,Corner,Gtl,Crawfor,Norm,Norm,...,0,35,272,0,0,0,1,1,1,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,1,IR1,Lvl,AllPub,FR2,Gtl,NoRidge,Norm,Norm,...,192,84,0,0,0,0,1,1,1,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,1,Reg,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,Norm,...,0,40,0,0,0,0,1,1,1,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,1,Reg,Lvl,AllPub,Inside,Gtl,NWAmes,Norm,Norm,...,349,0,0,0,0,0,1,MnPrv,1,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,1,Reg,Lvl,AllPub,Inside,Gtl,Crawfor,Norm,Norm,...,0,60,0,0,0,0,1,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,1,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,Norm,...,366,0,112,0,0,0,1,1,1,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,1,Reg,Lvl,AllPub,Inside,Gtl,Edwards,Norm,Norm,...,736,68,0,0,0,0,1,1,1,0,6,2008,WD,Normal,147500

In [27]:
# Task 2.5
print(df_train.dtypes)
print(df_train.select_dtypes(include=['int64']))

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object
        Id  MSSubClass  LotArea  OverallQual  OverallCond  YearBuilt  \
0        1          60     8450            7            5       2003
1        2          20     9600            6            8       1976
2        3          60    11250            7            5       2001
3        4          70     9550            7            5       1915
4        5          60    14260            8            5       2000
...    ...         ...      ...          ...          ...        ...
1455  1456          60     7917            6            5       1999
1456  1457          20    13175            6            6       1978
1457  1458          70     9042            7            9       1941
1458  1459          20     9717            5            6       1950
1459  1460          20     9937            5            6       1965

      YearRemodAdd  BsmtFinSF1  BsmtFinSF2  BsmtUnfSF  TotalBsmtSF  1stFlrSF  \
0             2003         706           0        150          856       856
1             1976         978           0        284         1262      1262
2             2002         486           0        434          920       920
3             1970         216           0        540          756       961
4             2000         655           0        490         1145      1145
...            ...         ...         ...        ...          ...       ...
1455          2000           0           0        953          953       953
1456          1988         790         163        589         1542      2073
1457          2006         275           0        877         1152      1188
1458          1996          49        1029          0         1078      1078
1459          1965         830         290        136         1256      1256

      2ndFlrSF  LowQualFinSF  GrLivArea  ...  KitchenAbvGr  TotRmsAbvGrd  \
0          854             0       1710  ...             1             8
1            0             0       1262  ...             1             6
2          866             0       1786  ...             1             6
3          756             0       1717  ...             1             7
4         1053             0       2198  ...             1             9
...        ...           ...        ...  ...           ...           ...
1455       694             0       1647  ...             1             7
1456         0             0       2073  ...             1             7
1457      1152             0       2340  ...             1             9
1458         0             0       1078  ...             1             5
1459         0             0       1256  ...             1             6

      Fireplaces  GarageCars  GarageArea  WoodDeckSF  OpenPorchSF  \
0              0           2         548           0           61
1              1           2         460         298            0
2              1           2         608           0           42
3              1           3         642           0           35
4              1           3         836         192           84
...          ...         ...         ...         ...          ...
1455           1           2         460           0           40
1456           2           2         500         349            0
1457           2           1         252           0           60
1458           0           1         240         366            0
1459           0           1         276         736           68

      EnclosedPorch  3SsnPorch  ScreenPorch  PoolArea  MiscVal  MoSold  \
0                 0          0            0         0        0       2
1                 0          0            0         0        0       5
2                 0          0            0         0        0       9
3               272          0            0         0        0       2
4                 0          0            0         0        0      12
...             ...        ...          ...       ...      ...     ...
1455              0          0            0         0        0       8
1456              0          0            0         0        0       2
1457              0          0            0         0     2500       5
1458            112          0            0         0        0       4
1459              0          0            0         0        0       6

      YrSold  SalePrice
0       2008     208500
1       2007     181500
2       2008     223500
3       2006     140000
4       2008     250000
...      ...        ...
1455    2007     175000
1456    2010     210000
1457    2010     266500
1458    2010     142125
1459    2008     147500

[1460 rows x 35 columns]

In [28]:
# Task 2.6
print(df_train["LotArea"].value_counts())

LotArea
7200     25
9600     24
6000     17
9000     14
8400     14
         ..
14601     1
13682     1
4058      1
17104     1
9717      1
Name: count, Length: 1073, dtype: int64

# 3. Data selection

Note: `data` or `df` in the examples can be any DataFrame.

Note: Watch the placement of brackets and parenthesis!

In pandas.DataFrame you can select

1. Row/s by position (integer number \[0 .. number of rows - 1\]) `.iloc` or by DataFrame.index `.loc`:
```python
data.iloc[0] # First row
data.iloc[5:10] # 6th to 11th row (+1 for
data.iloc[:9] # First 10 rows
data.iloc[-4:] # Last 5 rows
data.loc[7] # Row with value 7 as the index
data.loc["start":"end"] # All rows between the rows with "start" and "end" as the index, inclusive.
```
Note: In `df_train`, the index is the integer column "Id". An array index is a different thing.

2. Columns by name
```python
data['columname']
data[['columname1', 'columname2']]
```
3. Row/s and columns
```python
data.loc['index', 'columname'] # Value of 'columname' of row with index 'index'
data.iloc[10, 6] # Value of the 7th column of the 11th row (+1 for counting from 0)
data.iloc[:, 6] # Value of the 7th column of all rows
```
4. Using boolean mask
```python
data[data['columname'] > value]
df[df['age'] <= 18]
```

Think of it as two steps:
- `data['col'] > value` compares the values in the column 'col' to value
- `data[...]` selects all the rows, where that comparison was true

You can combine multiple conditions using `&` or `|` (and, or)

```python
cond1 = data['columname1'] > value1
cond2 = data['columname2'] > value2
data[cond1 & cond2]
```
5. Using queries `.query()`:
```python
value = 18
data.query("columname > value")
df.query("age <= value")
```
You could combine multiple conditions using `and`, `or`

```python
data.query("(columname1 > value1) and (columname2 > value2)")
```
and others. See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html for more examples.

## Tasks:

3.1. How many bedrooms does a house in row 7 have?

3.2. How many houses has 3 kitchens?

3.3. What is the percentage of houses built earlier than 1970?

3.4. When was built the most expensive house?

3.5. What roof style has a house built in 2005 with a central air conditioning and 11911 sqft lot size?

3.6. What is the median lot size in the most popular zone? Hint: Look at `.value_counts()` and `.idxmax()`

In [37]:
# Task 3.1
df_train.iloc[6]['BedroomAbvGr']

# Task 3.2
df_train[df_train['KitchenAbvGr'] == 3].shape[0]

# Task 3.3
df_train[df_train['YearBuilt'] < 1970].shape[0] / df_train.shape[0]

# Task 3.4
df_train.loc[df_train['SalePrice'].idxmax(), 'YearBuilt']

# Task 3.5
df_train.query("YearBuilt == 2005 and CentralAir == 'Y' and LotArea == 11911")['RoofStyle']

# Task 3.6
df_train.query("MSZoning == 'RL'")['LotArea'].median()

3

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,Condition2,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
48,49,190,RM,33.0,4456,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,OldTown,Norm,Norm,...,0,0,102,0,0,0,NaN,NaN,NaN,0,6,2009,New,Partial,113000
809,810,75,RM,90.0,8100,Pave,NaN,Reg,Lvl,AllPub,Corner,Gtl,OldTown,Norm,Norm,...,40,156,0,0,0,0,NaN,MnPrv,NaN,0,11,2009,WD,Normal,106000