In [ ]:
import numpy as np
import pandas as pd

# Tasks Part 2 - Intro to Pandas

# 1. Load data

We are using house sale price dataset that can be obtained from Kaggle: https://www.kaggle.com/c/house-prices-advanced-regression-techniques/overview/description

With 79 explanatory variables describing (almost) every aspect of residential homes in Ames, Iowa, the competition challenges you to predict the final price of each home.

## Tasks:
1.1. Load `train.csv` file using `pd.read_csv()` function.

1.2. Print top 10 and last 10 observations in the table using `.head()` and `.tail()`

1.3. Print all the data columns names using method `.columns`

1.4. Print number of rows and columns using method `.shape`. Note: You can use `.shape[0]` to get the number of rows for future tasks.

1.5. You may also want to increase maximal displayed pandas columns: set `pd.options.display.max_columns` to 30. Do this at the very beginning of the notebook, so it will always apply to all tasks.

In [ ]:
# Task 1.1
df_train = pd.read_csv('https://gist.githubusercontent.com/lukee910/c233bf0ea6899a91d50ce804133b6aa1/raw/82b8c6e9aa57309aa1ce2a1302c4c3fc72e11ae3/train.csv')

In [ ]:
# Task 1.2

# 2. Data exploration

## Tasks:
2.1. Use pandas `.describe()` to display basic statistic about the data.

2.2. Use methods `.min()`, `.max()`, `.mean()`, `.std()` to display specific statistics about the data. Hint: Make sure that you can actually see all values (e.g. use multiple cells, use `print()`).

2.3. Count number of unique values in every column `.nunique()`. What does this tells you about the features, which are most likely categorical and which are most likely numerical?

2.4. Use method `.count()` to count the number of non-NA cells in each column. Are there any missing values in the data?
Missing values can be imputed with a mean value, dummy value or based on some other logic depending on the feature using `.fillna()` method.

2.5. Use method `.dtypes` field to display data types in columns. What are the columns with dtype int64?

2.6. Use method `.value_counts()` to count number of unique values in a specific column.

# 3. Data selection

Note: `data` or `df` in the examples can be any DataFrame.

Note: Watch the placement of brackets and parenthesis!

In pandas.DataFrame you can select

1. Row/s by position (integer number \[0 .. number of rows - 1\]) `.iloc` or by DataFrame.index `.loc`:
```python
data.iloc[0] # First row
data.iloc[5:10] # 6th to 11th row (+1 for
data.iloc[:9] # First 10 rows
data.iloc[-4:] # Last 5 rows
data.loc[7] # Row with value 7 as the index
data.loc["start":"end"] # All rows between the rows with "start" and "end" as the index, inclusive.
```
Note: In `df_train`, the index is the integer column "Id". An array index is a different thing.

2. Columns by name
```python
data['columname']
data[['columname1', 'columname2']]
```
3. Row/s and columns
```python
data.loc['index', 'columname'] # Value of 'columname' of row with index 'index'
data.iloc[10, 6] # Value of the 7th column of the 11th row (+1 for counting from 0)
data.iloc[:, 6] # Value of the 7th column of all rows
```
4. Using boolean mask
```python
data[data['columname'] > value]
df[df['age'] <= 18]
```

Think of it as two steps:
- `data['col'] > value` compares the values in the column 'col' to value
- `data[...]` selects all the rows, where that comparison was true

You can combine multiple conditions using `&` or `|` (and, or)

```python
cond1 = data['columname1'] > value1
cond2 = data['columname2'] > value2
data[cond1 & cond2]
```
5. Using queries `.query()`:
```python
value = 18
data.query("columname > value")
df.query("age <= value")
```
You could combine multiple conditions using `and`, `or`

```python
data.query("(columname1 > value1) and (columname2 > value2)")
```
and others. See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html for more examples.

## Tasks:

3.1. How many bedrooms does a house in row 7 have?

3.2. How many houses has 3 kitchens?

3.3. What is the percentage of houses built earlier than 1970?

3.4. When was built the most expensive house?

3.5. What roof style has a house built in 2005 with a central air conditioning and 11911 sqft lot size?

3.6. What is the median lot size in the most popular zone? Hint: Look at `.value_counts()` and `.idxmax()`