In [2]:
import numpy as np
import pandas as pd

# Tasks Part 2 - Intro to Pandas

# 1. Load data

We are using house sale price dataset that can be obtained from Kaggle: https://www.kaggle.com/c/house-prices-advanced-regression-techniques/overview/description

With 79 explanatory variables describing (almost) every aspect of residential homes in Ames, Iowa, the competition challenges you to predict the final price of each home.

## Tasks:
1.1. Load `train.csv` file using `pd.read_csv()` function.

1.2. Print top 10 and last 10 observations in the table using `.head()` and `.tail()`

1.3. Print all the data columns names using method `.columns`

1.4. Print number of rows and columns using method `.shape`. Note: You can use `.shape[0]` to get the number of rows for future tasks.

1.5. You may also want to increase maximal displayed pandas columns: set `pd.options.display.max_columns` to 30. Do this at the very beginning of the notebook, so it will always apply to all tasks.

In [3]:
# Task 1.1
df_train = pd.read_csv('https://gist.githubusercontent.com/lukee910/c233bf0ea6899a91d50ce804133b6aa1/raw/82b8c6e9aa57309aa1ce2a1302c4c3fc72e11ae3/train.csv')

In [4]:
# Task 1.2
print(df_train.head(10))
print(df_train.tail(10))

   Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
0   1          60       RL         65.0     8450   Pave   NaN      Reg
1   2          20       RL         80.0     9600   Pave   NaN      Reg
2   3          60       RL         68.0    11250   Pave   NaN      IR1
3   4          70       RL         60.0     9550   Pave   NaN      IR1
4   5          60       RL         84.0    14260   Pave   NaN      IR1
5   6          50       RL         85.0    14115   Pave   NaN      IR1
6   7          20       RL         75.0    10084   Pave   NaN      Reg
7   8          60       RL          NaN    10382   Pave   NaN      IR1
8   9          50       RM         51.0     6120   Pave   NaN      Reg
9  10         190       RL         50.0     7420   Pave   NaN      Reg

  LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
0         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
2         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
3         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
4         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
5         Lvl    AllPub  ...        0    NaN  MnPrv        Shed     700
6         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
7         Lvl    AllPub  ...        0    NaN    NaN        Shed     350
8         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
9         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

  MoSold YrSold  SaleType  SaleCondition  SalePrice
0      2   2008        WD         Normal     208500
1      5   2007        WD         Normal     181500
2      9   2008        WD         Normal     223500
3      2   2006        WD        Abnorml     140000
4     12   2008        WD         Normal     250000
5     10   2009        WD         Normal     143000
6      8   2007        WD         Normal     307000
7     11   2009        WD         Normal     200000
8      4   2008        WD        Abnorml     129900
9      1   2008        WD         Normal     118000

[10 rows x 81 columns]
        Id  MSSubClass MSZoning  LotFrontage  LotArea Street Alley LotShape  \
1450  1451          90       RL         60.0     9000   Pave   NaN      Reg
1451  1452          20       RL         78.0     9262   Pave   NaN      Reg
1452  1453         180       RM         35.0     3675   Pave   NaN      Reg
1453  1454          20       RL         90.0    17217   Pave   NaN      Reg
1454  1455          20       FV         62.0     7500   Pave  Pave      Reg
1455  1456          60       RL         62.0     7917   Pave   NaN      Reg
1456  1457          20       RL         85.0    13175   Pave   NaN      Reg
1457  1458          70       RL         66.0     9042   Pave   NaN      Reg
1458  1459          20       RL         68.0     9717   Pave   NaN      Reg
1459  1460          20       RL         75.0     9937   Pave   NaN      Reg

     LandContour Utilities  ... PoolArea PoolQC  Fence MiscFeature MiscVal  \
1450         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1451         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1452         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1453         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1454         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1455         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1456         Lvl    AllPub  ...        0    NaN  MnPrv         NaN       0
1457         Lvl    AllPub  ...        0    NaN  GdPrv        Shed    2500
1458         Lvl    AllPub  ...        0    NaN    NaN         NaN       0
1459         Lvl    AllPub  ...        0    NaN    NaN         NaN       0

     MoSold YrSold  SaleType  SaleCondition  SalePrice
1450      9   2009        WD         Normal     136000
1451      5   2009       New        Partial     287090
1452      5   2006        WD         Normal     145000
1453      7   2006        WD        Abnorml      84500
1454     10   2009        WD         Normal     185000
1455      8   2007        WD         Normal     175000
1456      2   2010        WD         Normal     210000
1457      5   2010        WD         Normal     266500
1458      4   2010        WD         Normal     142125
1459      6   2008        WD         Normal     147500

[10 rows x 81 columns]

In [5]:
# Task 1.3
print(df_train.columns)

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [8]:
# Task 1.4
print(df_train.shape[0])
print(df_train.shape)

1460

In [9]:
# Task 1.5
pd.options.display.max_columns = 30

# 2. Data exploration

## Tasks:
2.1. Use pandas `.describe()` to display basic statistic about the data.

2.2. Use methods `.min()`, `.max()`, `.mean()`, `.std()` to display specific statistics about the data. Hint: Make sure that you can actually see all values (e.g. use multiple cells, use `print()`).

2.3. Count number of unique values in every column `.nunique()`. What does this tells you about the features, which are most likely categorical and which are most likely numerical?

2.4. Use method `.count()` to count the number of non-NA cells in each column. Are there any missing values in the data?
Missing values can be imputed with a mean value, dummy value or based on some other logic depending on the feature using `.fillna()` method.

2.5. Use method `.dtypes` field to display data types in columns. What are the columns with dtype int64?

2.6. Use method `.value_counts()` to count number of unique values in a specific column.

# 3. Data selection

Note: `data` or `df` in the examples can be any DataFrame.

Note: Watch the placement of brackets and parenthesis!

In pandas.DataFrame you can select

1. Row/s by position (integer number \[0 .. number of rows - 1\]) `.iloc` or by DataFrame.index `.loc`:
```python
data.iloc[0] # First row
data.iloc[5:10] # 6th to 11th row (+1 for
data.iloc[:9] # First 10 rows
data.iloc[-4:] # Last 5 rows
data.loc[7] # Row with value 7 as the index
data.loc["start":"end"] # All rows between the rows with "start" and "end" as the index, inclusive.
```
Note: In `df_train`, the index is the integer column "Id". An array index is a different thing.

2. Columns by name
```python
data['columname']
data[['columname1', 'columname2']]
```
3. Row/s and columns
```python
data.loc['index', 'columname'] # Value of 'columname' of row with index 'index'
data.iloc[10, 6] # Value of the 7th column of the 11th row (+1 for counting from 0)
data.iloc[:, 6] # Value of the 7th column of all rows
```
4. Using boolean mask
```python
data[data['columname'] > value]
df[df['age'] <= 18]
```

Think of it as two steps:
- `data['col'] > value` compares the values in the column 'col' to value
- `data[...]` selects all the rows, where that comparison was true

You can combine multiple conditions using `&` or `|` (and, or)

```python
cond1 = data['columname1'] > value1
cond2 = data['columname2'] > value2
data[cond1 & cond2]
```
5. Using queries `.query()`:
```python
value = 18
data.query("columname > value")
df.query("age <= value")
```
You could combine multiple conditions using `and`, `or`

```python
data.query("(columname1 > value1) and (columname2 > value2)")
```
and others. See https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html for more examples.

## Tasks:

3.1. How many bedrooms does a house in row 7 have?

3.2. How many houses has 3 kitchens?

3.3. What is the percentage of houses built earlier than 1970?

3.4. When was built the most expensive house?

3.5. What roof style has a house built in 2005 with a central air conditioning and 11911 sqft lot size?

3.6. What is the median lot size in the most popular zone? Hint: Look at `.value_counts()` and `.idxmax()`